<div class="contact-info">
    <div class="contact-heading">
        GỌI NGAY CHO CHÚNG TÔI NHÉ!
    </div>
    <div class="text">
        Hãy cho chúng tôi đồng hành cùng bạn <br />
        Hãy gọi ngay cho chúng tôi hoặc kết nối trực tiếp qua Zalo để có câu trả lời nhanh nhất cho nhu cầu anh chị cần nhé
    </div>
    <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        SALE THẢO
        <a href="tel:0968158598">0968.158.598</a>
    </div>
    <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        SALE LINH
        <a href="tel:0961568199">0961.568.199</a>
    </div>
    <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        SALE HÀ
        <a href="tel:0981851268">0981.851.268</a>
    </div>
</div>
